body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    background-color: transparent;
}

canvas {
    background-color: black;
}